<div class="row">
  <div class="col-12">
    <div>
      <p class="text-justify">
        A Countdown Timer Using Input & Output Decroators!
      </p>
      <app-count-display [counter]="count"> </app-count-display>
      <hr />
      <app-count-control
        #child
        [count]="count"
        (resetCountEle)="resetCount()"
        (startCountEle)="startCount($event)"
        [pausedAt]="pausedAt"
      ></app-count-control>
      <hr />
      <app-count-logs [startPauseStatus]="startPauseStatus"></app-count-logs>
      <hr />
      <app-count-clicklogs
        [startedCount]="startedCount"
        [pausedCount]="pauseCount"
      ></app-count-clicklogs>
    </div>
  </div>
</div>
