<div>
  <form #f="ngForm">
    <div class="form-group">
      <label for="count">Enter Timer Limit: </label>
      <input
        type="number"
        name="count"
        id="count"
        class="form-control"
        required
        pattern="^[1-9]+[0-9]*$"
        #count
      />
    </div>
    <button class="btn btn-primary mr-2" type="button" (click)="onStart(count)">
      Start/Pause
    </button>
    <button class="btn btn-danger" type="button" (click)="onReset()">
      Reset
    </button>
  </form>
  <div class="counter-status mt-1">
    <p *ngFor="let item of pausedAt">Paused at {{ item }}</p>
  </div>
</div>
