<div class="container">
  <ul class="nav nav-pills flex-column flex-sm-row">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="router1"
        >Floating Img</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="router2"
        >Product Page</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="router3"
        >Counter 1</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="router4"
        >Counter 2</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="router5"
        >Student Data</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="router6"
        >Dynamic Div</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
