<div class="table-container">
  <p>Student Data</p>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th
          *ngFor="let column of filtered[0] | keys; index as i"
          (click)="onSort(column)"
          [ngStyle]="{ cursor: 'pointer' }"
        >
          {{ column | titlecase }}
          <span class="sort-icon">
            <p
              [ngClass]="
                sortType == 'asc' && sortTitle === column
                  ? 'arrow-up'
                  : sortType === 'dsc' && sortTitle === column
                  ? 'arrow-down'
                  : ''
              "
            ></p>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtered">
        <td scope="row">{{ item.name }}</td>
        <td>{{ item.class }}</td>
        <td>{{ item.section }}</td>
        <td>{{ item.sub1 }}</td>
        <td>{{ item.sub2 }}</td>
        <td>{{ item.sub3 }}</td>
      </tr>
    </tbody>
  </table>
</div>
