.table-container {
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: -12px 3px 20px -8px rgba(0, 0, 0, 0.62);
}
table {
  font-size: 16px;
}

.table-container > p {
  text-align: left;
  font-weight: 600;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-left: auto;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin: auto;
}

.sort-icon > p {
  margin: 0;
  padding: 0;
  display: inline-block;
}
