.overall-container {
  width: 100%;
  margin: 250px auto;
  display: flex;
  align-items: center;
}

.banner-container {
  width: 650px;
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
}

.banner-container div,
p {
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px;
}

.banner-container p {
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.banner-container p > span {
  animation: rottin 2s linear infinite alternate;
  position: relative;
}

@keyframes rottin {
  from {
    left: 80px;
  }
  to {
    left: -80px;
  }
}
