.overall-container {
  width: 100%;
  margin: 250px auto;
  display: flex;
  align-items: center;
}

.banner-container {
  width: 500px;
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
}

.banner-container div,
p {
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px;
}

.banner-container .lv1 {
  width: 480px;
}
.banner-container .lv2 {
  width: 460px;
}

.banner-container .lv3 {
  width: 440px;
}
.banner-container .lv4 {
  width: 420px;
}
.banner-container .lv5 {
  width: 400px;
}
.banner-container .lv6 {
  width: 380px;
}

.banner-container p {
  width: 360px;
  padding: 0;
  text-align: center;
  font-weight: bold;
}
